[submodule "service-api"]
	path = service-api
	url = https://github.com/sgouti/service-api.git
	branch = feature-update
[submodule "service-authorization"]
	path = service-authorization
	url = https://github.com/sgouti/service-authorization.git
	branch = develop
[submodule "service-jobs"]
	path = service-jobs
	url = https://github.com/reportportal/service-jobs.git
	branch = develop
[submodule "service-ui"]
	path = service-ui
	url = https://github.com/sgouti/service-ui.git
	branch = feature-update
[submodule "service-index"]
	path = service-index
	url = https://github.com/sgouti/service-index.git
	branch = develop
[submodule "service-auto-analyzer"]
	path = service-auto-analyzer
	url = https://github.com/sgouti/service-auto-analyzer.git
	branch = feature-update
[submodule "migrations"]
	path = migrations
	url = https://github.com/sgouti/migrations.git
	branch = develop
