COMPOSE_PROJECT_NAME=reportportal-local-build

POSTGRES_USER=rpuser
POSTGRES_PASSWORD=rppass
POSTGRES_DB=reportportal

RABBITMQ_DEFAULT_USER=rabbitmq
RABBITMQ_DEFAULT_PASS=rabbitmq

RP_INITIAL_ADMIN_PASSWORD=erebus

MIGRATIONS_IMAGE=reportportal/migrations:5.15.1-local-build
INDEX_IMAGE=reportportal/service-index:5.15.0-local-build
UI_IMAGE=reportportal/service-ui:5.15.2-local-build
API_IMAGE=reportportal/service-api:5.15.1-local-build
UAT_IMAGE=reportportal/service-authorization:5.15.0-local-build
JOBS_IMAGE=reportportal/service-jobs:5.15.0-local-build
ANALYZER_IMAGE=reportportal/service-auto-analyzer:5.15.1-ml-local-build

BAKE_MODELS=true
HF_TOKEN=